<p style="color: red">
  <%= notice %>
</p>

<h1>Sign in</h1>

<%= form_with url: session_path, method: :post do |f| %>
  <div>
    username:
    <%= f.text_field :username %>
  </div>
  <div>
    password:
    <%= f.password_field :password %>
  </div>
  <%= f.submit "Log in" %>
<% end %>
